version: "3"
services:
  raiden1:
    image: ${RAIDEN_NODE_VERSION:-raidennetwork/raiden:v1.2.0}
    container_name: raiden1
    restart: unless-stopped
    command: --address "${NODE1_ETH_ADDRESS}" --keystore-path /raiden/keystore --password-file /raiden/password.txt --eth-rpc-endpoint "${ETH_RPC_ENDPIONT}" --network-id goerli --environment-type development --api-address "0.0.0.0:5001" --pathfinding-service-address "https://pfs.demo001.env.raiden.network" --matrix-server "https://transport.demo001.env.raiden.network" --accept-disclaimer
    ports:
      - "5001:5001"
    volumes:
      - ./raiden-node/:/raiden
      - raiden1Data:/root/.raiden
    networks:
      - default

  raiden2:
    image: ${RAIDEN_NODE_VERSION:-raidennetwork/raiden:v1.2.0}
    container_name: raiden2
    restart: unless-stopped
    command: --address "${NODE2_ETH_ADDRESS}" --keystore-path /raiden/keystore --password-file /raiden/password.txt --eth-rpc-endpoint "${ETH_RPC_ENDPIONT}" --network-id goerli --environment-type development --api-address "0.0.0.0:5001" --pathfinding-service-address "https://pfs.demo001.env.raiden.network" --matrix-server "https://transport.demo001.env.raiden.network" --accept-disclaimer
    ports:
      - "5002:5001"
    volumes:
      - ./raiden-node/:/raiden
      - raiden2Data:/root/.raiden
    networks:
      - default

  raiden3:
    image: ${RAIDEN_NODE_VERSION:-raidennetwork/raiden:v1.2.0}
    container_name: raiden3
    restart: unless-stopped
    command: --address "${NODE3_ETH_ADDRESS}" --keystore-path /raiden/keystore --password-file /raiden/password.txt --eth-rpc-endpoint "${ETH_RPC_ENDPIONT}" --network-id goerli --environment-type development --api-address "0.0.0.0:5001" --pathfinding-service-address "https://pfs.demo001.env.raiden.network" --matrix-server "https://transport.transport01.raiden.network" --accept-disclaimer
    ports:
      - "5003:5001"
    volumes:
      - ./raiden-node/:/raiden
      - raiden3Data:/root/.raiden
    networks:
      - default

volumes:
  raiden1Data:
  raiden2Data:
  raiden3Data:
